<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation Detail</title>

    <style>
        body{
            background-color: #fff3d4;
        }
    </style>
</head>
<body>
<h2> Create or Edit Reservation for Customer </h2><br>
<p>Reservation code/order number: xxxxxxxxx</p>

<form>
    <label for="name">Name</label> <br>
    <input type="text" id="name" name="name"> <br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name ="email"> <br>
    <label for="date">Phone Number</label><br>
    <input type="text" id="phone" name ="phone"> <br>
    <label for="date">Check In / Check Out Date</label><br>
    <input type="text" id="date" name ="date"> <br>
    <label for="pay">Payment method</label><br>
    <input type="text" id="pay" name ="pay"> <br>
    <label for="room">Room type(s)</label><br>
    <input type="text" id="room" name ="room"> <br>
    <label for="guests">Number of rooms and guests per room</label><br>
    <input type="text" id="guests" name ="guests"> <br>
    <input type="checkbox" id="smoking" name="smoking" value="smoking">
    <label for="smoking"> Non-smoking room </label><br>
    <input type="checkbox" id="breakfast" name="breakfast" value="breakfast">
    <label for="breakfast"> Breakfast </label><br><br>

    <input type="submit" value="Edit">
    <input type="submit" value="Create Reservation">
    <input type="submit" value="Delete Reservation">
</form>


</body>
</html>