<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about us</title>
	<link rel="stylesheet" href="/../css/vendor.css" />
	<link rel="stylesheet" href="/../css/LineIcons.min.css" />
	<link href="/../css/tam.css" rel="stylesheet">


</head>

<body data-spy="scroll" data-target=".navbar">
	<aside class="aside">

		<div class="nav-wrapper">

			<nav class="navbar text-center align-items-center justify-content-center">



                <div class="collapse navbar-collapse show" id="navbarCollapse">
                	<div class="about-avatar mb-5">
						<div class="about-avatar-details mt-4">
							<h1>Royal Hotel</h1>
						</div>

					</div>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home"><i class="lni-home"></i>Home</a>
						</li>
						<li class="nav-item">
                            <a class="nav-link" href="about"><i class="lni-phone-handset"></i>About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="booking"><i class="lni-briefcase"></i>Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login_start"><i class="lni-pencil"></i></i>Sign in</a>
                        </li>
               
                    </ul>
                </div>
	        </nav>
        </div>
        <!-- END: NAVBAR -->
    </aside>

	<div class="page-wrapper" style="width: 100%;">
		<section class="section section-light section-contact" id="contact" style="width: 70%;">
			<div class="container" style="width: 100%;">
				<div class="section-head">
					<h2>Welcome to Royal Hotel </h2>
								
				</div>
				<div class="contact-map mt-5">
					<h5 class="section-subHead mb-4"> A Brief History </h5>
					<div class="contact-map--container b-box wow fadeInUp" id="map" data-wow-duration="1.5s">We Got started 5 lovely years ago and Have been dedicating our time to making our guests as comfortable as possible ever since! </div>
				</div>
			</div>

			<div class="contact-Otherdetails section-dark">
				<div class="container">
					<div class="contact-details mt-5">
						<h5 class="section-subHead pt-5 mb-4">Contact Information: </h5>
						<div class="contact-map mt-5">
							<h5 class="section-subHead mb-4"> Location </h5>
							<div>777 W Harrisburg Pike, Middletown, PA 17057</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-lg-6">
								<div class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp" data-wow-duration="1.5s">
									<div class="mb-3">
										<i class="lni-mobile"></i>
									</div>
									<div class="mt-2">
										<a href="tel:9876543210" class="">+1(717) 948-6000</a>
										<p class="mt-2">Call Us</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-6">
								<div class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
									<div class="mb-3">
										<i class="lni-envelope"></i>
									</div>
									<div class="mt-2">
										<a href="mailto:hello@beingeorge.com">Info@royalhotel.com</a>
										<p class="mt-2">Email Us</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


	<!-- JAVASCRIPTS -->

	<script src="/../js/vendor.js"></script>
	<script src="/../js/custom.js"></script>
</body>
</html>
