<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>account info</title>
	<link rel="stylesheet" href="../../css/vendor.css" />
	<link rel="stylesheet" href="../../css/LineIcons.min.css" />
	<link href="../../css/tam.css" rel="stylesheet">
<style rel="stylesheet">
.bo{
	background-color: rgb(145, 164, 223);
	border-radius: 20px;
	border: none;
}
.k{
    background-color:#c9d9e8;width: 400px;
    height: 50px;
    margin-left: 40px;
}
.k1{
    margin-top: 20px;
    margin-left: 40px;
}
</style>

</head>

<body data-spy="scroll" data-target=".navbar">
	<aside class="aside">

		<div class="nav-wrapper">

			<nav class="navbar text-center align-items-center justify-content-center">



                <div class="collapse navbar-collapse show" id="navbarCollapse">
                	<div class="about-avatar mb-5">
						<div class="about-avatar-details mt-4">
							<h1>Royal Hotel</h1>
						</div>

					</div>
                    <ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link" href="home"><i class="lni-home"></i>Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about"><i class="lni-phone-handset"></i>About us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="booking"><i class="lni-briefcase"></i>Booking</a>
						</li>
                        <li class="nav-item">
                            <a class="nav-link" href="accountReservations"><i class="lni-notepad"></i>Order History</a>
						</li>
						<li class="nav-item active">
                            <a class="nav-link" href="account"><i class="lni-user"></i>Account Information</a>
                        </li>
                    </ul>
                </div>
	        </nav>
        </div>
        <!-- END: NAVBAR -->
    </aside>

	<div class="page-wrapper" style="width: 100%;">
		<section class="section section-light section-contact" id="contact" style="width: 70%;background-color: rgba(0, 0, 0, 0);">
			<div class="container" style="width: 100%;">
				<div class="section-head">
					<h1 style="width: 100%;height: 100px;background-color: rgb(139, 160, 199);text-align: center;">Account Information</h1>
				</div>
                <table style="background-color: rgba(247, 240, 240, 0.5);width: 500px;border-radius: 40px;height: 450px;" >
                    <tr>
                        <td>
                                           <br>
                                <p class="k1" >Name</p>
                                <p class="k">
								</p>
                                <p class="k1"> Email</p>
                                <p class="k"></p>
                                <p class="k1">Birthday</p>
                                <p class="k"></p>    
                                <br>    <br>      
                        </td>
                    </tr>
                    </table>
					</div>
		</section>
	</div>
</body>
</html>
